{% block recaptcha_widget %}
    {% spaceless %}
        <div {{ block('widget_attributes') }}></div>
        <script src="https://www.google.com/recaptcha/api.js?hl={{ app.locale }}"></script>
    {% endspaceless %}
{% endblock %}
